/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 sept. 2021, 17:56:28
    Author     : Quentin
*/


div.hover {
    background: green;
}

#page-image {
    overflow: auto;
    max-height: 400px;
}

.box {
    position: absolute;
    visibility: visible;
}